@font-face {
  font-family: "DSEG7Classic";
  src: url("/fonts/DSEG7Classic-Regular.woff2") format("woff2"),
    url("/fonts/DSEG7Classic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Work-Sans, sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #f6f8fa;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  width: 100%;
  max-width: 1800px;
  height: 863px;
  margin: 30px auto 0 auto;
  padding: 30px 30px;
  background-color: white;
  box-shadow: 0 5px 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  box-sizing: border-box;
}

.calculator-base {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  height: 500px;
  background-color: #efc3ca;
  border-radius: 30px;
  padding: 30px;
  gap: 30px;
}

.display-panel {
  background-color: white;
  width: 100%;
  height: 175px;
  border-radius: 30px;
  text-align: right;
  overflow-x: auto;
  overflow-y: hidden;
  line-height: 170px;
  font-size: 3rem;
  font-family: "DSEG7Classic", monospace;
}

.below-display {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.clear-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
}

.button-panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  align-items: end;
  justify-items: stretch;
}

.button {
  font-family: "Cherry Bomb One";
  background-color: white;
  width: 100%;
  height: 55px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  font-size: 2rem;
  color: #efc3ca;
}
