@font-face {
  font-family: "DSEG7Classic";
  src: url("/fonts/DSEG7Classic-Regular.woff2") format("woff2"),
    url("/fonts/DSEG7Classic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Work-Sans, sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #f6f8fa;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
  width: 100%;
  max-width: 1800px;
  height: 863px;
  margin: 30px auto 0 auto;
  padding: 30px 30px;
  background-color: white;
  box-shadow: 0 5px 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  box-sizing: border-box;
}

.calculator-base {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  height: 500px;
  --bg: #efc3ca; /* default background */
  --btn-text: #efc3ca; /* default text color */
  background-color: var(--bg);
  border-radius: 30px;
  padding: 30px;
  gap: 30px;
}

.display-panel {
  position: relative;
  width: 300px;
  height: 150px;
  overflow: hidden;
  background: white;
  border-radius: 1rem;
  font-family: Oribtron, sans-serif;
  font-size: 60px;
  text-align: right;
}

.screen {
  position: absolute;
  inset: 0;
  display: none;
  align-items: center;
}

.screen.is-active {
  display: flex;
  justify-content: flex-end;
}

.color-display {
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 1rem;
}

.btn {
  border: none;
  all: unset;
  width: 25px;
  height: 25px;
  border-radius: 8px;
  cursor: pointer;
}

.below-display {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.clear-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  gap: 10px;
}

.button-panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  align-items: end;
  justify-items: stretch;
}

.button {
  font-family: "Cherry Bomb One";
  background-color: white;
  width: 100%;
  height: 55px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  font-size: 2rem;
  color: var(--btn-text);
}

.btn--red {
  background: #c79098;
  color: white;
}
.btn--green {
  background: #c3d9c4;
  color: white;
}
.btn--blue {
  background: #b2c9e2;
  color: white;
}

.btn--pink {
  background: #efc3ca;
  color: white;
}

.btn--brown {
  background: #cfac94;
  color: white;
}

.btn--lavender {
  background: #d5daee;
}

.btn--yellow {
  background: #f9e9be;
}

.btn--dirt {
  background-color: #c9bda5;
}
